.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
    width: 40px;
}
.login-conditon{
    padding: 0.7rem;
    border-radius: 10px;
    color: #2C170A;
    background-color: #cdbfa7;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}
.login-conditon:hover{
    background-color: #2C170A;
    color: #cdbfa7;
}